<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui,viewport-fit=cover"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>com.elgato.template Property Inspector</title>
		<link rel="stylesheet" href="../../../libs/css/sdpi.css" />
	</head>
	<body>
		<div class="sdpi-wrapper">
			<!--TODOZ: add one of each control from pi-samples to test FormUtils & CSS -->
			<form id="property-inspector">
				<div class="sdpi-item">
					<div data-localize class="sdpi-item-label">Name</div>
					<input
						class="sdpi-item-value"
						name="name"
						type="text"
						value=""
					/>
				</div>

				<div type="textarea" class="sdpi-item">
					<div class="sdpi-item-label up20" data-localize>
						Message
					</div>
					<div class="sdpi-item-value textarea">
						<textarea
							name="message"
							type="textarea"
							maxlength="50"
							class="three-lines"
						></textarea>
					</div>
				</div>

				<div class="sdpi-item">
					<div class="sdpi-item-label" data-localize>Button</div>
					<button
						class="sdpi-item-value"
						value="Click Me"
						data-localize
						id="open-external"
					>
						Click Me
					</button>
				</div>
			</form>
		</div>

		<div class="sdpi-info-label hidden" style="top: -1000" value=""></div>
		<script src="../../../libs/js/utils.js"></script>
		<script src="../../../libs/js/constants.js"></script>
		<script src="../../../libs/js/event-handler.js"></script>
		<script src="../../../libs/js/deck.js"></script>
		<script src="../../../libs/js/dynamic-styles.js"></script>
		<script src="inspector.js"></script>
	</body>
</html>
